@model eFakturADM.Web.Models.OrdnerGetReasonDialogModel
@{ var templateId = String.Format("dialog-view-{0}", DateTime.Now.Ticks.ToString());
 var dialogId = templateId.Replace("-view-", "-");
 var contentId = templateId.Replace("-view-", "-content-");
}
<script type="text/template" id="@templateId" data-dialog-tittle="Re-Print" data-dialog-spinner="spinner-@dialogId">
    <div id="notify-message"></div>
    <form class="form-horizontal" id="form-re-print-reason" role="form">
        <div class="form-body">
            <div class="form-group">
                <div class="col-md-12">
                    Reason :
                </div>
                <div class="col-md-12">
                    <textarea rows="3" class="form-control" style="resize:none" id="input-reason"></textarea>
                    <input type="hidden" id ="input-reason-fp-id" value="@Model.Ids" />
                    <input type="hidden" id="input-reason-fp-fillingindex" value="@Model.FillingIndexs" />
                </div>
            </div>
        </div>
    </form>
</script>
<script type="text/javascript">
    App.PreventDoubleSubmit();
    $(function () {
        var dialog = App.DialogBootstrap("#@templateId", 500, "auto", true,
            {
                OK: function () {
                    var _reason = $('#input-reason').val();
                    if (_reason == '' || _reason == null) {
                        var errorMsg = 'Reason is required';
                        toastr.error(errorMsg, "", { "positionClass": "toast-top-center", "showDuration": "30000" });
                    }
                    else {
                        var fakturPajakIds = $('#input-reason-fp-id').val();
                        var numbers = $('#input-reason-fp-fillingindex').val();
                        var reason = $('#input-reason').val();
                        var jsonData = { fakturPajakIds: fakturPajakIds, reason: reason, fillingIndexs: numbers };
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("RePrintOrdner", "Ordner")",
                            data: jsonData,
                            cache: false,
                            success: function (data) {
                                switch (data.Html.InfoType) {
                                    //case 1: toastr.success(data.Html.Message, "", { "positionClass": "toast-top-center", "showDuration": "30000" }); break;
                                    case 2: toastr.warning(data.Html.Message, "", { "positionClass": "toast-top-center", "showDuration": "30000" }); break;
                                    case 3: toastr.error(data.Html.Message, "", { "positionClass": "toast-top-center", "showDuration": "30000" }); break;
                                };
                                if (data.Html.InfoType == 1) {
                                    dialog.close();
                                    dataSelectedCrew = [];
                                    fiList = [];
                                    $('#selectall').parent().removeClass("checked");
                                    $('#selectall').removeAttr("checked");
                                    
                                    var strUrl = '@Url.Action("PrintOrdnerList", "Print")' + '?idprint=' + data.Id;
                                    window.open(strUrl, '_blank');
                                    @*var strUrl = '@Url.Action("GetPrintOut", "Ordner")' + '?idprint=' + data.Id;
                                    window.open(strUrl, '_blank');*@

                                    searchTableData();
                                }
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                App.DialogError(xhr, textStatus, errorThrown);
                            }
                        });
                    }
                }
            },
            true);
    });
</script>
