@using eFakturADM.Web.Helpers
@{
    ViewBag.Title = "Daftar Faktur Pajak Masukan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var monthList = GlobalFunctionHelper.GetMonthList(true, "");

    eFakturADM.Web.Models.LoginResult _loginResult = (eFakturADM.Web.Models.LoginResult)Session["Login"];
    var roleActivities_createcsv = eFakturADM.Logic.Collections.RoleActivities.GetByActivityId_RoleId_Auth("18", _loginResult.RoleId[0]);
    var check_createcsv = roleActivities_createcsv.Count != 0 ? true : false;
    var roleActivities_downloadexcel = eFakturADM.Logic.Collections.RoleActivities.GetByActivityId_RoleId_Auth("19", _loginResult.RoleId[0]);
    var check_downloadexcel = roleActivities_downloadexcel.Count != 0 ? true : false;
}
<div class="page-head">
    <div class="page-title">
        <h1>
            Daftar Retur Faktur Pajak
        </h1>
    </div>
</div>
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light">
    <div class="portlet">
        <div class="portlet-body">
            <div class="form-group padding-bottom-10" style="border-bottom:1px solid #eaeaea" id="div-search"> 
                <div class="form-group padder row">
                    <div class="col-md-6">
                        <div class="row form-group">
                            <label class="col-md-4 control-label">No Faktur Retur</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="input-search-nofaktur" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4 control-label">No. Dok Retur</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="input-search-noretur" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4 control-label">NPWP Vendor</label>
                            <div class="col-md-8 form-inline">
                                <div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="input-search-npwpvendor" />
                                    </div>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-success" id="btn-search-browsevendor">
                                            ...
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4 control-label">Nama Vendor</label>
                            <div class="col-md-8 form-inline">
                                <div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="input-search-namavendor" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-right:0px">
                        <div class="row form-group">
                            <label class="col-md-3 control-label">Masa Pajak</label>
                            <div class="col-md-9 form-inline">
                                <div class="input-group w-sm">
                                    @Html.DropDownList("listMasaPajak", monthList, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-3 control-label">Tahun</label>
                            <div class="col-md-9 form-inline">
                                <div class="input-group w-sm">
                                    <input type="text" class="form-control" id="input-tahunpajak-pelaporan" />
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-md-3 control-label">Tanggal Retur</label>
                            <div class="col-md-9 form-inline">
                                <div>
                                    <div class="input-group w-sm">
                                        <div class="input-group-addon"><i class="icon-calendar"></i></div>
                                        <input class="form-control form-control-inline datepicker" size="16" type="text" value=""
                                               id="input-search-tglawalretur" data-toggle="tooltip" data-placement="right"
                                               data-original-title="Format Date dd/MM/yyyy" />
                                    </div>
                                    s/d
                                    <div class="input-group w-sm">
                                        <div class="input-group-addon"><i class="icon-calendar"></i></div>
                                        <input class="form-control form-control-inline datepicker" size="16" type="text" value=""
                                               id="input-search-tglakhirretur" data-toggle="tooltip" data-placement="right"
                                               data-original-title="Format Date dd/MM/yyyy" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="" style="text-align:right">
                        <div class="m-t-xs">
                            <button type="button" class="btn btn-success" id="btn-search">
                                Search
                            </button>
                            <button type="button" class="btn btn-default" id="btn-reset">
                                Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <fieldset class="fieldset" style="padding:0 0 0 10px; border-bottom:none">
                    <legend class="title-legend">List Data</legend>
                </fieldset>
                <div style="padding:5px; margin:0 4px; border:1px solid #c0c0c0; border-top:none">
                    <div class="table-scrollable">
                        <table id="tbl-fakturreturpajak" class="tblheader table table-hover table-blue">
                            <thead>
                                <tr>
                                    <th>
                                        Tanggal Retur
                                    </th>
                                    <th>
                                        NPWP Vendor
                                    </th>
                                    <th>
                                        Nama Vendor
                                    </th>
                                    <th>
                                        No Faktur yang di Retur
                                    </th>
                                    <th>
                                        Tanggal Faktur
                                    </th>
                                    <th>
                                        Nomor Retur
                                    </th>
                                    <th>
                                        Masa Retur (Bulan)
                                    </th>
                                    <th>
                                        Masa Retur (Tahun)
                                    </th>
                                    <th>
                                        DPP
                                    </th>
                                    <th>
                                        PPN
                                    </th>
                                    <th>
                                        PPnBM
                                    </th>
                                    <th>
                                        UserName
                                    </th>
                                    <th style="width: 140px; min-width:140px;">
                                    </th>
                                </tr>
                                <tr id="filtering_row">
                                    <th>
                                        <input type="text" style="width:130px" placeholder="Tanggal Retur" id="input-ssearch0" />
                                    </th>
                                    <th>
                                        <input type="text" style="width:130px" placeholder="NPWP Vendor" id="input-ssearch1" />
                                    </th>
                                    <th>
                                        <input type="text" style="width:130px" placeholder="Nama Vendor" id="input-ssearch2" />
                                    </th>
                                    <th>
                                        <input type="text" style="width:130px" placeholder="No Faktur yang di Retur" id="input-ssearch3" />
                                    </th>
                                    <th>
                                        <input type="text" style="width:130px" placeholder="Tanggal Faktur" id="input-ssearch4" />
                                    </th>
                                    <th>
                                        <input type="text" style="width:130px" placeholder="Nomor Retur" id="input-ssearch5" />
                                    </th>
                                    <th>
                                        <input type="text" style="width:130px" placeholder="Masa Retur (Bulan)" id="input-ssearch6" />
                                    </th>
                                    <th>
                                        <input type="text" style="width:130px" placeholder="Masa Retur (Tahun)" id="input-ssearch7" />
                                    </th>
                                    <th>
                                        <input type="text" style="width:130px" placeholder="DPP" id="input-ssearch8" />
                                    </th>
                                    <th>
                                        <input type="text" style="width:130px" placeholder="PPN" id="input-ssearch9" />
                                    </th>
                                    <th>
                                        <input type="text" style="width:130px" placeholder="PPnBM" id="input-ssearch10" />
                                    </th>
                                    <th>
                                        <input type="text" style="width:130px" placeholder="UserName" id="input-ssearch11" />
                                    </th>
                                    <th style="width: 140px; min-width:140px;">
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="input-group" style="text-align:left">
                        <div class="m-t-md">
                            @if (check_createcsv)
                            {
                                <button type="button" class="btn btn-success" id="btn-export-csv">
                                    Export to Csv
                                </button>
                            }
                            @if (check_downloadexcel)
                            {
                                <button type="button" class="btn btn-success" id="btn-download-excel">
                                    Download to Excel
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var NoFaktur;
    var NoRetur;
    var NPWPVendor;
    var NamaVendor;
    var TglFakturReturStart;
    var TglFakturReturEnd;
    var MasaPajak;
    var TahunPajak;
    var Search;
    var firstLoad;

    var sSearch_0;
    var sSearch_1;
    var sSearch_2;
    var sSearch_3;
    var sSearch_4;
    var sSearch_5;
    var sSearch_6;
    var sSearch_7;
    var sSearch_8;
    var sSearch_9;
    var sSearch_10;
    var sSearch_11;

    $(document).ready(function () {
        App.InitDatePicker();
        ReturFakturPajak.init();

        $('#input-tahunpajak-pelaporan').keypress(isNumber);

        $('#btn-export-csv').click(function () {
            createCsv();
        });

        $('#btn-download-excel').click(function () {
            downloadExcel();
        });

        //$("#div-search input, #div-search select").keypress(function (e) {
        //    if (e.keyCode == 13) {
        //        searchFunction();
        //    }
        //});

        $("#btn-search").bind("click", function (e) {
            firstLoad = false;
            searchFunction();
        });

        $("#btn-reset").bind("click", function (e) {
            $("#input-search-nofaktur").val('');
            $("#input-search-noretur").val('');
            $("#input-search-npwpvendor").val('');
            $("#input-search-namavendor").val('');
            $("#input-search-tglawalretur").val('');
            $("#input-search-tglakhirretur").val('');
            $("#listMasaPajak").val('');
            $('#input-tahunpajak-pelaporan').val('');


            $('#input-ssearch0').val('');
            $('#input-ssearch1').val('');
            $('#input-ssearch2').val('');
            $('#input-ssearch3').val('');
            $('#input-ssearch4').val('');
            $('#input-ssearch5').val('');
            $('#input-ssearch6').val('');
            $('#input-ssearch7').val('');
            $('#input-ssearch8').val('');
            $('#input-ssearch9').val('');
            $('#input-ssearch10').val('');
            $('#input-ssearch11').val('');
            firstLoad = true;

            searchFunction();
        });

        $("#btn-search-browsevendor").bind("click", function (e) {
            App.DialogGet('@Url.Action("BrowseVendorDialog","Master")', e, {
                AccessFrom: "Search"
            });
        });
    });

    function searchFunction() {
        NoFaktur = $("#input-search-nofaktur").val();
        NoRetur = $("#input-search-noretur").val();
        NPWPVendor = $("#input-search-npwpvendor").val();
        NamaVendor = $("#input-search-namavendor").val();
        TglFakturReturStart = $("#input-search-tglawalretur").val();
        TglFakturReturEnd = $("#input-search-tglakhirretur").val();
        MasaPajak = $('#listMasaPajak option:selected').val();
        TahunPajak = $('#input-tahunpajak-pelaporan').val();

        sSearch_0 = $('#input-ssearch0').val();
        sSearch_1 = $('#input-ssearch1').val();
        sSearch_2 = $('#input-ssearch2').val();
        sSearch_3 = $('#input-ssearch3').val();
        sSearch_4 = $('#input-ssearch4').val();
        sSearch_5 = $('#input-ssearch5').val();
        sSearch_6 = $('#input-ssearch6').val();
        sSearch_7 = $('#input-ssearch7').val();
        sSearch_8 = $('#input-ssearch8').val();
        sSearch_9 = $('#input-ssearch9').val();
        sSearch_10 = $('#input-ssearch10').val();
        sSearch_11 = $('#input-ssearch11').val();

        var table = $('#tbl-fakturreturpajak').DataTable();
        table.ajax.reload();
    }

    function downloadExcel() {
        NoFaktur = $("#input-search-nofaktur").val();
        NoRetur = $("#input-search-noretur").val();
        NPWPVendor = $("#input-search-npwpvendor").val();
        NamaVendor = $("#input-search-namavendor").val();
        TglFakturReturStart = $("#input-search-tglawalretur").val();
        TglFakturReturEnd = $("#input-search-tglakhirretur").val();
        MasaPajak = $('#listMasaPajak option:selected').val();
        TahunPajak = $('#input-tahunpajak-pelaporan').val();
        var fTglRetur = '';
        var fNpwpVendor = '';
        var fNamaVendor = '';
        var fNoFakturDiRetur = '';
        var fTglFaktur = '';
        var fNomorRetur = '';
        var fMasaRetur = '';
        var fTahunRetur = '';
        var fDpp = '';
        var fPpn = '';
        var fPpnBm = '';
        var fUserName = '';

        fTglRetur = $('#input-ssearch0').val();
        fNpwpVendor = $('#input-ssearch1').val();
        fNamaVendor = $('#input-ssearch2').val();
        fNoFakturDiRetur = $('#input-ssearch3').val();
        fTglFaktur = $('#input-ssearch4').val();
        fNomorRetur = $('#input-ssearch5').val();
        fMasaRetur = $('#input-ssearch6').val();
        fTahunRetur = $('#input-ssearch7').val();
        fDpp = $('#input-ssearch8').val();
        fPpn = $('#input-ssearch9').val();
        fPpnBm = $('#input-ssearch10').val();
        fUserName = $('#input-ssearch11').val();

        var strUrl = '@Url.Action("DaftarReturFakturPajakDownloadExcel", "ExportDownload")' + '?noFaktur=' + NoFaktur
            + '&noDocRetur=' + NoRetur + '&tglFakturReturStart=' + TglFakturReturStart + '&tglFakturReturEnd=' + TglFakturReturEnd
            + '&npwpVendor=' + NPWPVendor + '&namaVendor=' + NamaVendor
            + '&masaPajak=' + MasaPajak + '&tahunPajak=' + TahunPajak
            + '&fTglRetur=' + fTglRetur + '&fNpwpVendor=' + fNpwpVendor
            + '&fNamaVendor=' + fNamaVendor + '&fNoFakturDiRetur=' + fNoFakturDiRetur
            + '&fTglFaktur=' + fTglFaktur + '&fNomorRetur=' + fNomorRetur
            + '&fMasaRetur=' + fMasaRetur + '&fTahunRetur=' + fTahunRetur
            + '&fDpp=' + fDpp + '&fPpn=' + fPpn + '&fPpnBm=' + fPpnBm + '&fUserName=' + fUserName;

        window.open(strUrl, '_blank');

    }

    function createCsv() {
        NoFaktur = $("#input-search-nofaktur").val();
        NoRetur = $("#input-search-noretur").val();
        NPWPVendor = $("#input-search-npwpvendor").val();
        NamaVendor = $("#input-search-namavendor").val();
        TglFakturReturStart = $("#input-search-tglawalretur").val();
        TglFakturReturEnd = $("#input-search-tglakhirretur").val();
        MasaPajak = $('#listMasaPajak option:selected').val();
        TahunPajak = $('#input-tahunpajak-pelaporan').val();
        var fTglRetur = '';
        var fNpwpVendor = '';
        var fNamaVendor = '';
        var fNoFakturDiRetur = '';
        var fTglFaktur = '';
        var fNomorRetur = '';
        var fMasaRetur = '';
        var fTahunRetur = '';
        var fDpp = '';
        var fPpn = '';
        var fPpnBm = '';
        var fUserName = '';

        fTglRetur = $('#input-ssearch0').val();
        fNpwpVendor = $('#input-ssearch1').val();
        fNamaVendor = $('#input-ssearch2').val();
        fNoFakturDiRetur = $('#input-ssearch3').val();
        fTglFaktur = $('#input-ssearch4').val();
        fNomorRetur = $('#input-ssearch5').val();
        fMasaRetur = $('#input-ssearch6').val();
        fTahunRetur = $('#input-ssearch7').val();
        fDpp = $('#input-ssearch8').val();
        fPpn = $('#input-ssearch9').val();
        fPpnBm = $('#input-ssearch10').val();
        fUserName = $('#input-ssearch11').val();

        var strUrl = '@Url.Action("DaftarReturFakturPajakCreateCsv", "ExportDownload")' + '?noFaktur=' + NoFaktur
            + '&noDocRetur=' + NoRetur + '&tglFakturReturStart=' + TglFakturReturStart + '&tglFakturReturEnd=' + TglFakturReturEnd
            + '&npwpVendor=' + NPWPVendor + '&namaVendor=' + NamaVendor
            + '&masaPajak=' + MasaPajak + '&tahunPajak=' + TahunPajak
            + '&fTglRetur=' + fTglRetur + '&fNpwpVendor=' + fNpwpVendor
            + '&fNamaVendor=' + fNamaVendor + '&fNoFakturDiRetur=' + fNoFakturDiRetur
            + '&fTglFaktur=' + fTglFaktur + '&fNomorRetur=' + fNomorRetur
            + '&fMasaRetur=' + fMasaRetur + '&fTahunRetur=' + fTahunRetur
            + '&fDpp=' + fDpp + '&fPpn=' + fPpn + '&fPpnBm=' + fPpnBm + '&fUserName=' + fUserName;

        window.open(strUrl, '_blank');
    }
    var delay = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();

    var ReturFakturPajak = function () {
        return {
            initTable: function () {
                firstLoad = true;

                var table = $('#tbl-fakturreturpajak');

                NoFaktur = $("#input-search-nofaktur").val();
                NoRetur = $("#input-search-noretur").val();
                NPWPVendor = $("#input-search-npwpvendor").val();
                NamaVendor = $("#input-search-namavendor").val();
                TglFakturReturStart = $("#input-search-tglawalretur").val();
                TglFakturReturEnd = $("#input-search-tglakhirretur").val();
                MasaPajak = $('#listMasaPajak option:selected').val();
                TahunPajak = $('#input-tahunpajak-pelaporan').val();

                sSearch_0 = $('#input-ssearch0').val();
                sSearch_1 = $('#input-ssearch1').val();
                sSearch_2 = $('#input-ssearch2').val();
                sSearch_3 = $('#input-ssearch3').val();
                sSearch_4 = $('#input-ssearch4').val();
                sSearch_5 = $('#input-ssearch5').val();
                sSearch_6 = $('#input-ssearch6').val();
                sSearch_7 = $('#input-ssearch7').val();
                sSearch_8 = $('#input-ssearch8').val();
                sSearch_9 = $('#input-ssearch9').val();
                sSearch_10 = $('#input-ssearch10').val();
                sSearch_11 = $('#input-ssearch11').val();

                table.dataTable({
                    "sDom": "<<'col-sm-6' <'refresh pull-left m-r-sm'>><'col-sm-6'>r><'table-scrollable't><'row m-t-sm m-b-xs'<'col-sm-3 m-t-n-sm'l><'col-sm-3 m-t-xs'i><'col-sm-6'p>>",
                    "bFilter": true,
                    "bLengthChange": true,
                    "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.
                    "serverSide": true,
                    "iDisplayLength": 10,
                    "aLengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                    "autoWidth": false,
                    "orderCellsTop": true,
                    "sAjaxSource": '@Url.Action("GetListReturPajakDataTable", "Retur")',
                    "fnServerParams": function (aoData) {
                        aoData.push(
                            { "name": "firstLoad", "value": firstLoad },
                            { "name": "NoFaktur", "value": NoFaktur },
                            { "name": "NoRetur", "value": NoRetur },
                            { "name": "NPWPVendor", "value": NPWPVendor },
                            { "name": "NamaVendor", "value": NamaVendor },
                            { "name": "TglFakturReturStart", "value": TglFakturReturStart },
                            { "name": "TglFakturReturEnd", "value": TglFakturReturEnd },
                            { "name": "MasaPajak", "value": MasaPajak },
                            { "name": "TahunPajak", "value": TahunPajak },

                            { "name": "sSearch_0", "value": sSearch_0 },
                            { "name": "sSearch_1", "value": sSearch_1 },
                            { "name": "sSearch_2", "value": sSearch_2 },
                            { "name": "sSearch_3", "value": sSearch_3 },
                            { "name": "sSearch_4", "value": sSearch_4 },
                            { "name": "sSearch_5", "value": sSearch_5 },
                            { "name": "sSearch_6", "value": sSearch_6 },
                            { "name": "sSearch_7", "value": sSearch_7 },
                            { "name": "sSearch_8", "value": sSearch_8 },
                            { "name": "sSearch_9", "value": sSearch_9 },
                            { "name": "sSearch_10", "value": sSearch_10 },
                            { "name": "sSearch_11", "value": sSearch_11 }
                        );
                    },
                    "columns": [
                        { "data": "TglReturString", "orderable": true, "searchable": false },
                        { "data": "FormatedNpwpPenjual", "orderable": true, "searchable": true },
                        { "data": "NamaPenjual", "orderable": true, "searchable": true },
                        { "data": "FormatedNoFakturPajak", "orderable": true, "searchable": true },
                        { "data": "TglFakturString", "orderable": true, "searchable": false },
                        { "data": "NoDocRetur", "orderable": true, "searchable": true },
                        { "data": "MasaPajakLapor", "orderable": true, "searchable": false },
                        { "data": "TahunPajakLapor", "orderable": true, "searchable": false },
                        { "data": "DPPString", "orderable": true, "searchable": false },
                        { "data": "PPNString", "orderable": true, "searchable": false },
                        { "data": "PPNBMString", "orderable": true, "searchable": false },
                        { "data": "CreatedBy", "orderable": true, "searchable": false },
                        {
                            "data": "FakturPajakReturId",
                            "orderable": false,
                            "className": "text-center",
                            "render": function (data, type, row, full, meta) {
                                return '<button type="button" class="btn btn-sm btn-default fakturreturpajak-view" data-fakturreturpajak-id="' + data + '">View</button></div>';
                            },
                            "width": 60
                        }
                    ],

                    "order": [
                        [0, "asc"]
                    ]
                });
                $(table.DataTable().table().container()).on('keyup', 'thead input', function (e) {
                    var that = this;
                    if (e.keyCode == 13) {
                        //table.DataTable().column($(that).data('index')).search(that.value).draw();
                        searchFunction();
                    }
                    if (that.value.trim() == '') {
                        //table.DataTable().column($(that).data('index')).search('').draw();
                        searchFunction();
                    }
                });

            },

            initHandlers: function () {
                $("body").on("click", ".fakturreturpajak-view", function (e) {
                    var fakturreturPajakId = parseInt($(this).attr("data-fakturreturpajak-id"));
                    App.DialogGet('@Url.Action("ViewReturFakturPajak", "Retur")', e, {
                        FakturReturPajakId: fakturreturPajakId
                    });
                });
            },

            init: function () {
                this.initTable();
                this.initHandlers();
            }
        };
    }();
</script>
