@using eFakturADM.Web.Models
@{
    ViewBag.Title = "Change Password";

    string lblMsg = TempData["lblMsg"] as string;
}

<h2>Change Password</h2>
<div class="portlet light">
    <div class="portlet-body">
        <div class="form-group">           
            <div class="row">
                @if (!string.IsNullOrEmpty(lblMsg))
                {
                    <label class="control-label text-left" style="color:#e02222">@lblMsg</label>
                }
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Current Password<span class="required"> *</span></label>
                <div class="col-md-9">
                    <input type="password" autocomplete="off" class="form-control" id="input-current-pwd" style="width: 400px" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">New Password<span class="required"> *</span></label>
                <div class="col-md-9">
                    <input type="password" autocomplete="off" class="form-control" id="input-new-pwd" style="width: 400px" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Re-Type Password<span class="required"> *</span></label>
                <div class="col-md-9">
                    <input type="password" autocomplete="off" class="form-control" id="input-retype-pwd" style="width: 400px" />
                </div>
            </div>            
            <div class="row" style="padding-top:20px; margin:0 auto; display:table">
                <button class="btn btn-success btn-sm" id="btn-submit">Submit</button>&nbsp;&nbsp;
                <button class="btn btn-success btn-sm" id="btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        App.PreventDoubleSubmit();

        $('#btn-submit').click(function () {
            submitClick();
        });
        $('#btn-cancel').click(function () {
            location.href = '@Url.Action("Index", "Home")';
        });
    });

    function submitClick() {
        var data = {
            CurrentPassword: $('#input-current-pwd').val(),
            NewPassword: $('#input-new-pwd').val(),
            ReTypePassword: $('#input-retype-pwd').val()
        };
        var jsonData = JSON.stringify({ data: data });

        $.ajax({
            type: "POST",
            url: "@Url.Action("ChangePasswordValidation", "User")",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            data: jsonData,
            cache: false,
            success: function (response) {
                if (response.Html.InfoType == 2) {
                    toastr.warning(response.Html.Message, "", { "positionClass": "toast-top-center", "showDuration": "30000" });
                } else if (response.Html.InfoType == 1) {
                    BootstrapDialog.show({
                        type: BootstrapDialog.TYPE_DANGER,
                        title: 'Submit Confirmation',
                        message: 'Are you sure want to submit this data?',
                        buttons: [{
                            label: 'Yes',
                            cssClass: 'btn-danger btn-delay',
                            action: function (dialog) {
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("ChangePasswordSave", "User")",
                                    dataType: "json",
                                    contentType: 'application/json; charset=utf-8',
                                    data: jsonData,
                                    cache: false,
                                    success: function (saveResponse) {
                                        switch (saveResponse.Html.InfoType) {
                                            case 0: toastr.info(saveResponse.Html.Message, "", { "positionClass": "toast-top-center", "showDuration": "30000" }); break;
                                            case 1: toastr.success(saveResponse.Html.Message, "", { "positionClass": "toast-top-center", "showDuration": "30000" }); break;
                                            case 2: toastr.warning(saveResponse.Html.Message, "", { "positionClass": "toast-top-center", "showDuration": "30000" }); break;
                                            case 3: toastr.error(saveResponse.Html.Message, "", { "positionClass": "toast-top-center", "showDuration": "30000" }); break;
                                        }
                                        if (response.Html.InfoType == 1) {
                                            window.location.href = '@Url.Action("Index", "Home")';
                                            dialog.close();
                                        }
                                    },
                                    error: function (xhr, textStatus, errorThrown) {
                                        App.DialogError(xhr, textStatus, errorThrown);
                                    }
                                });
                            }
                        }, {
                            label: 'No',
                            cssClass: 'btn-danger',
                            action: function (dialog) {
                                dialog.close();
                            }
                        }]
                    });
                }

            },
            error: function (xhr, textStatus, errorThrown) {
                App.DialogError(xhr, textStatus, errorThrown);
            }
        });

    }

    function cancelClick() {
        location.href = '@Url.Action("Index", "Home")';
    }

</script>
